<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&family=Press+Start+2P&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="/css/components/main-header.css">
        <link rel="stylesheet" href="/css/components/main-action.css">
        <link rel="stylesheet" href="/css/components/main-card.css">
        <link rel="stylesheet" href="/css/components/modal-overlay.css">
        <link rel="stylesheet" href="/css/reset.css">
        
        <title>Agrega Dev Cursos</title>
    </head>
    <body>
        <header class="main-header">
            <nav class="main-menu">
                <a class="main-action" href="index.html">Sobre</a>
                <a class="main-action" href="channels.html">Cursos</a>
                <a class="main-action" href="#Contatos">Contatos</a>
            </nav>
        </header>
<!--**************************CARDs DOS VÍDEOS**************************-->
        <section class="cards">
            <div class="card" id="WG1EYRhny3M">
                <div class="card__image-container">
                    <img src="http://i3.ytimg.com/vi/S5Qvi23VqaQ/maxresdefault.jpg" alt="canal da RocketSeat no Youtube"/>
                </div>
                <div class="card__content">
                    <p>Youtube channel from RocketSeat</p>
                </div>
                <div class="card__info">
                    <p></p>
                    
                </div>
            </div>
        </section>

        <section class="cards">
            <div class="card" id="xDFzOp2BoS8">
                <div class="card__image-container">
                    <img src="http://i3.ytimg.com/vi/S5Qvi23VqaQ/maxresdefault.jpg" alt="canal da RocketSeat no Youtube"/>
                </div>
                <div class="card__content">
                    <p>Youtube channel from RocketSeat</p>
                </div>
                <div class="card__info">
                    <p></p>
                    
                </div>
            </div>
        </section>


        <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>
                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    
        <script src="/src/script.js"></script>
    
<!--**************************Footer com creditos e links**************************-->
        <footer></footer>
    </body>
</html>