<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&family=Press+Start+2P&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="/css/styles.css">

        <link rel="stylesheet" href="/css/reset.css">
        
        <title>Agrega Dev Cursos</title>
    </head>
    <body>
        <header class="main-header">
            <nav class="main-menu">
                <div class="main-title">
                    <h1>Agrega Dev Cursos</h1>
                </div>
                <div class="main-menu">
                    <a class="main-action" href="index.html">Sobre</a>
                    <a class="main-action" href="videos.html">Vídeos</a>
                </div>
            </nav>
        </header>
        <section class="sobre">
            <div class="wrapper">
                <h2>Aprenda sobre programação hoje sem sair de casa!</h2>
                <p>A indústria da tecnologia e da informação não pára de crescer. E a demanda por programadores tem se intensificado a cada ano. Seja por oportunidades de trabalho ou simplesmente por lazer, você pode aprender como programar sem sair de casa. E, o mais interessante: de forma gratuita.</p>
                <p>Aprender como programar significa que você vai estar capacitado para trabalhar com linhas de códigos (simples e complexas), misturar linguagens de programação, desenvolver sistemas, aplicações e influenciar no progresso da tecnologia da informação.
                    Levando isso em conta, veja o que você vai poder fazer assim que tiver um nível mais avançado sobre programação.
                </p>
                 <ul>
                    <li><b>Criar Sites</b> – Criação de páginas específicas para qualquer tipo de negócio online. Numa combinação de linguagens de programação, você vai poder criar um site estático ou dinâmico com mais autonomia, sem depender exatamente um CMS. E, mesmo que precise usar um, você mesmo vai poder fazer melhorias sem precisar contratar um programador pois, agora, você mesmo é um.</li>
                    <li><b>Sistemas Operacionais</b> – São a base de funcionamento de qualquer computador, assim como celulares, eletrônicos e eletrodomésticos inteligentes. Alinhando códigos de programação, você vai poder desenvolver sistemas integrados e fazer com que máquinas reajam aos comandos dos usuários, sejam por cliques no mouse ou comandos por voz.</li>
                    <li><b>Jogos Eletrônicos</b> – A indústria dos games é uma das que mais fatura todos os anos. E esse potencial de crescimento não vai ser freado tão cedo. Você vai poder integrar equipes de desenvolvimento e usar seus conhecimentos para criar games para computadores, consoles, videogames portáteis e demais dispositivos móveis (smartphones, tablets e aparelhos inteligentes compatíveis), além de trabalhar com motores gráficos de última geração.</li>
                    <li><b>Aplicativos</b> – A facilidade do acesso a celulares de última geração e o recorde de faturamento no iTunes e Google Play só mostra que o mercado de apps não para de crescer. Atualmente, é comum empresas, marcas e negócios contratarem profissionais para criarem aplicativos dedicados aos seus produtos e serviços. Ao alcance de dois ou três clique, sua solução pode estar nestas lojas e estar entre os mais baixados e fazer parte da vida de milhões de pessoas.</li>
                </ul>
                    
                    <h3>Clique <a href="videos.html">AQUI</a> ou na aba Vídeos para começar a assistir os vídeos agora e se tornar um programador de sucesso</h3>
            </div>
            <div class="wrapper-image"></div>
                <img src="/assets/img/undraw_web_developer_re_h7ie.svg" alt="">
            </div>
        </section>
        <footer>
            <p>© 2022 · Fernando Azevedo </p>
        </footer>
    </body>
</html>