.main-action {
    display: inline-block;
    align-items: center;
    color: #fff;
    font-size: 30px;
    margin-right: 60px;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}


.main-action:hover {
    color: #fff;
    transform: scale(1.1);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.884);
}